

/*FOOTER*/
body{
    margin:0;
    overflow-x:hidden;
    }
    
    .footer{
    background:#937fe3;
    padding:30px 0px;
    font-family: 'Neuton', serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:#4f4c57;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:#4f4c57;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }


    /*CONFIRMATION PAGE*/

    body{
        background:  #937fe3;
    }
    
    #confirmation-words{
        padding-top: 10px;
        font-size: 30px;
        color: #4f4c57;
        text-align: center;
    }
   
    #confirmation-h2{
        font-size:32px;
        color: #52b4ff;
        text-align: center;
    }


/*CONTACT PAGE*/

    #contact{
        border: 40px;
        padding:10px;
        font-family: 'Neuton', serif;
        font-size: 20px;
        color: #4f4c57;
    }

    h2{
        color:#8161ff
    }
    
    